.loader_container {
  height: 100px;
  width: 100px;
}

.size_s {
 height: 50px;
  width: 50px;
}

.size_m {
  height: 100px;
  width: 100px;
}

.size_l {
  height: 150px;
  width: 150px;
}

.size_xl {
  height: 200px;
  width: 200px;
}