.breadcrumbs_wrapper {
  display: flex;
  font-size: var(--font-size-s);
  margin-top: var(--header-height);
  background-color:var(--primary-5) ;
}

.breadcrumbs_wrapper > * {
  margin: 0 5px;
  color: var(--primary-30);
  &:last-child {
    color: var(--primary);
  }
}