.app_link {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: fit-content;
  &::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1.5px;
    background-color: var(--primary);
    transition: width 0.3s ease;
  }
  &:hover::after {
    width: 100%;
  }
}